:root {
  --primary-color-accent: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --color-text: #ffffff;
  --primary-color-bg: #ffffff;
  --secondary-color-bg: #f5f4fa;
  --color-bg: #2f303a;
  --secondary-color-btn: #188ce8;
  --primary-color-icon: #afb1b8;
  --trans-dur-250ms: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background: var(--primary-color-bg);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  min-height: auto;
}
/* components */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header*/
.header-border {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.nav-list {
  display: flex;
}
.logo,
.logo-black {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-color-accent);
}
.logo-black {
  margin: 0;
  color: var(--secondary-text-color);
}
.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color-accent);
  border-radius: 2px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--primary-color-accent);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--primary-color-accent);
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list {
  display: flex;
}
.contact-link {
  display: flex;
  text-align: center;
}
.contact-link-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.contact-link:hover .contact-link-icon,
.contact-link:focus .contact-link-icon {
  fill: var(--primary-color-accent);
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--color-bg);
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  background-origin: padding-box;
  background-position: center center;
  text-align: center;
}

.hero-text {
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text);
}
.btn {
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-text);
  background: var(--primary-color-accent);
  transition-property: background;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.btn:hover,
.btn:focus,
.btn:visited {
  cursor: pointer;
  background: var(--secondary-color-btn);
}

/* features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.features-list-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

.features-list-icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--secondary-color-bg);
  border-radius: 4px;
}
/* make-section */
.make-list {
  display: flex;
}
.make {
  padding-bottom: 94px;
}
.make-list {
  flex-basis: calc((100% - 60px) / 3);
}
.make-item:not(:last-child) {
  margin-right: 30px;
}
.make-item {
  position: relative;
}
.make-item-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}
.make-text {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text);
}
/* team */
.team-list {
  display: flex;
  padding-bottom: 94px;
  flex-basis: calc((100% - 90px) / 4);
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-color-bg);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  padding-top: 94px;
  background-color: var(--secondary-color-bg);
}
.team-item-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-item-prof {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list-icon {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.team-link-icon {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
  fill: var(--primary-color-bg);
}
.team-link-icon:hover,
.team-link-icon:focus {
  background-color: var(--primary-color-accent);
}
.team-link-icon:hover .team-icon,
.team-link-icon:focus .team-icon {
  fill: var(--primary-color-bg);
}

.team-icon {
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
  fill: var(--primary-color-icon);
}
/* client */

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients-item {
  width: calc((100% - 150px) / 6);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-color-icon);
  border-radius: 4px;
  transition-property: transform, border-color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--primary-color-accent);
  transform: scale(0.64);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--primary-color-accent);
}

.client-icon {
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
  fill: var(--primary-color-icon);
}
/* footer */
.logo-white {
  color: var(--color-text);
}
.footer-section {
  background: var(--color-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}
.address-list {
  margin-top: 20px;
}
.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-text);
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.address-link:hover,
.address-link:focus {
  color: var(--primary-color-accent);
}
.address-contact-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.address-contact-link:hover,
.address-contact-link:focus {
  color: var(--primary-color-accent);
}
.address-contact-item {
  margin-top: 9px;
}
.footer-social {
  margin-right: 93px;
}
.footer-social-title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text);
}
.footer-list-icon {
  display: flex;
}
.footer-list-icon :not(:last-child) {
  margin-right: 10px;
}
.footer-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-link-icon {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--primary-color-accent);
}
.footer-icon {
  fill: var(--primary-color-bg);
}
.sabscription {
  display: flex;
  flex-direction: column;
}
.sabscription-form {
  display: flex;
}
.sabscription-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-text);
}
.sabscription-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-bg);
}
.sabscription-form input {
  padding-left: 16px;
}
.sabscription-btn {
  display: flex;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-text);
  background: var(--primary-color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.sabscription-btn:hover,
.sabscription-btn:focus,
.sabscription-btn:visited {
  cursor: pointer;
  background: var(--secondary-color-btn);
}
.sabsctiption-svg {
  margin-left: 10px;
}
/* portfolio.html */
/* button */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  line-height: 1.62;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: var(--secondary-color-bg);
  transition-property: color, background, box-shadow;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--primary-color-accent);
  color: var(--color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/* card */
.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-card-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-card-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-card-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-link {
  display: block;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  transition-property: box-shadow;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-description {
  position: relative;
  overflow: hidden;
}
.portfolio-card-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background: rgba(33, 150, 243, 0.9);
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
  transform: translateY(100%);
  opacity: 0;
}
.portfolio-link:hover .portfolio-card-text,
.portfolio-link:focus .portfolio-card-text {
  transform: translateY(0%);
  opacity: 1;
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--primary-color-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.model-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background: var(--primary-color-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.model-close:focus .model-close-icon,
.model-close:hover .model-close-icon {
  fill: var(--primary-color-accent);
}
/* form */
.bd-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.form-name {
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.bd-form-callback {
  position: relative;
  display: block;
}
.bd-form-input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: border-color, fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.bd-form-input:focus,
.bd-form-input:hover {
  outline: none;
  border-color: var(--primary-color-accent);
}
.bd-form-input:focus + .form-icon,
.bd-form-input:hover + .form-icon {
  fill: var(--primary-color-accent);
}
.comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: border-color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}
.comment input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment:focus,
.comment:hover {
  outline: none;
  border-color: var(--primary-color-accent);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form-checkbox {
  margin-right: 8px;
}

.policy-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.policy-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  top: 12px;
  left: 1px;
}
.form-checkbox:checked + .policy-checkbox::before {
  background-image: url(../images/icon-policy.svg);
  background-color: var(--primary-color-accent);
  border-color: transparent;
}
.form-checkbox:focus + .policy-checkbox::before {
  outline: none;
  border-color: var(--primary-color-accent);
}
.form-link {
  color: var(--primary-color-accent);
}
.form-btn {
  display: flex;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-text);
  background: var(--primary-color-accent);
  transition-property: background;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-btn:focus,
.form-btn:hover {
  cursor: pointer;
  background: var(--secondary-color-btn);
}
